body {
    background-color: #fff;
}
.conteiner {
    margin-top: 5%;
    margin-left: 20%; 
    margin-right: 20%;
    height: 100%;
    width: 60%;
}
h1 {
    font-size: 20px;
}
a{
    font-size: 15px;  
}
.grey {
    background-color: rgba(128, 128, 128, 0.349);
}
.box {
    margin-top: 0.5%;
    height: 80px;
    width: 35.5%;
    text-align: center;
    float: left;
    background: -webkit-radial-gradient( rgb(144, 243, 227), rgb(67, 181, 226));
}
.center {
    display: block;
    text-align: -webkit-center;
}

